<div class="row">
    <div class="col-sm-6 col-sm-4 col-md-offset-6 col-md-offset-4">
        <h1>Create Zone</h1>
        <form action="/api/zone" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Name" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="zipCodes" placeholder="Zip Codes" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create Zone" class="btn btn-success" />
            </div>
            
            
        </form>
    </div>
</div>